<!DOCTYPE html>
<html>
  <body>
    <form action="/collections/new" method="POST">
      <fieldset>
        <label>New Collection</label>
        <input type="text" name="collection_name" placeholder="Name" required />
        <br /><br />

        <button type="submit">Submit</button>
      </fieldset>
    </form>
  </body>
</html>
