<!DOCTYPE html>
<html>
  <body>
    <form id="progressForm" action="saveProgress" method="POST">
        <fieldset>
                
            <label>Update Progress</label>
            <input type ="number" name = 'pagesRead' placeholder="Page Number" required>
            <input type ="hidden" name = 'book' value="<%= book %>" required>
            <br><br>

            <button type ="submit">Submit</button>

        </fieldset>
    </form>
</body>
</html>